.page-header {
  position: relative;
  padding-top: 14px;
  padding-bottom: 11px;

  @media screen and (min-width: $tablet) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }
}

.logo {
  display: block;

  font-weight: 600;
  font-size: 21px;
  line-height: 1.24;
  letter-spacing: 0.04em;
  color: var(--primary-color);
  text-decoration: none;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 24px;
  height: 24px;

  background-color: transparent;
  border: none;

  &--close {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }

  &__icon {
    fill: var(--primary-color);
  }
}

.menu-container {
  @media screen and (max-width: calc($tablet - 1px)) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100vw;
    height: 100vh;

    background-color: var(--menu-bg-color);

    visibility: hidden;
    transform: translateY(-100%);
    transition: visibility var(--duration),
      transform var(--duration) var(--timing-function);

    &--is-open {
      visibility: visible;
      transform: translateY(0);
    }
  }
}

.site-nav {
  &__list {
    position: absolute;
    top: 50%;
    left: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 26px;

    transform: translate(-50%, -50%);

    @media screen and (min-width: $tablet) {
      position: relative;
      top: 0;
      left: 0;

      flex-direction: row;
      gap: 70px;

      transform: translate(0);
    }
  }

  &__link {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    text-transform: uppercase;
    color: var(--primary-color);
    text-decoration: none;
  }
}
