h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--primary-color);

  background-color: var(--primary-bg-color);

  scroll-behavior: smooth;
}

.body-lock {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: $mobile;

  @media screen and (min-width: $tablet) {
    padding: 0 40px;
    max-width: $tablet;
  }

  @media screen and (min-width: $laptop) {
    padding: 0 60px;
    max-width: $laptop;
  }
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.21;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @media screen and (min-width: $tablet) {
    font-size: 36px;
    line-height: 1.22;
    letter-spacing: 0.04em;
    text-align: start;
  }

  @media screen and (min-width: $laptop) {
    font-weight: 700;
    font-size: 45px;
    line-height: 1.22;
    letter-spacing: 0.04em;
  }
}

.anchor {
  scroll-margin-top: 100px;

  @media screen and (min-width: $tablet) {
    scroll-margin-top: 150px;
  }
}
