:root {
  --primary-color: #ffffff;
  --secondary-color: #ffdd2c;

  --accent-color: #feb000;

  --primary-bg-color: #111217;
  --secondary-bg-color: #21232e;
  --menu-bg-color: #25262e;

  --btn-content-color: #160e01;

  --primary-text-color: #f4f4f4;
  --secondary-text-color: #b5b5b5;

  --number-card-color: #111217;

  --primary-gradient: linear-gradient(269.41deg, #ffda1b 0.28%, #ffde2e 99.72%);
  --secondary-gradient: linear-gradient(
    269.41deg,
    #ffc600 0.28%,
    #ffd644 99.72%
  );

  --duration: 250ms;
  --duration-shadow: 500ms;
  --duration-overlay: 750ms;
  --duration-faq: 750ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

$mobile: 375px;
$tablet: 1024px;
$laptop: 1280px;
$desktop: 1440px;
