.feature-section {
  padding-top: 40px;
  padding-bottom: 40px;

  &__section-title {
    margin-bottom: 40px;

    color: var(--primary-text-color);
  }

  &__list {
    margin-bottom: 60px;
  }

  &__item:not(:last-child) {
    margin-bottom: 40px;
  }

  &__title {
    margin-bottom: 8px;

    font-weight: 700;
    font-size: 30px;
    line-height: 1.23;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--secondary-color);
  }

  &__descr {
    font-weight: 500;
    font-size: 19px;
    line-height: 1.21;
    text-align: center;
    color: var(--primary-text-color);
  }

  & .button--secondary {
    font-size: 17px;
    line-height: 1.24;
  }
}
