.info-section {
  padding-top: 40px;
  padding-bottom: 40px;

  &__title {
    margin-bottom: 40px;

    font-weight: 600;
    font-size: 24px;
    line-height: 1.21;
  }
}

.info-list {
  margin-bottom: 50px;
  padding-left: 16px;

  &__item:not(:last-child) {
    margin-bottom: 18px;
  }

  &__text {
    position: relative;

    font-weight: 500;
    font-size: 19px;
    line-height: 1.21;

    &::before {
      position: absolute;
      top: 8px;
      left: -16px;

      content: "";

      display: inline-block;
      width: 6px;
      height: 6px;

      background-color: var(--secondary-color);
      border-radius: 50%;
    }
  }
}
