<section class="about-course-section">
  <div class="container">
    <h2
      class="section-title about-course-section__section-title anchor"
      id="about-course"
    >
      Для кого буде
      <span class="about-course-section__text"
        >корисним
        <svg class="about-course-section__icon">
          <use href="./images/icons.svg#outline-1"></use>
        </svg>
      </span>
      курс?
    </h2>

    <ul class="about-course-content">
      <li class="about-course-content__item">
        <div class="about-course-content__thumb">
          <picture>
            <source
              srcset="
                ./images/about-course/img1.webp    1x,
                ./images/about-course/img1@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/about-course/img1.jpg    1x,
                ./images/about-course/img1@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img
              class="about-course-content__img"
              src="./images/about-course/img1.jpg"
              alt="Фото з фотосесії"
            />
          </picture>
        </div>

        <div class="about-course-descr">
          <h3 class="about-course-descr__title">Якщо ви</h3>

          <ul class="about-course-descr__list">
            <li class="about-course-descr__item">
              <p class="about-course-descr__text">
                Не виходите на фото гарною та вважаєте себе нефотогенічною
              </p>
            </li>
            <li class="about-course-descr__item">
              <p class="about-course-descr__text">
                Ви боїтеся, що про вас погано подумають
              </p>
            </li>
            <li class="about-course-descr__item">
              <p class="about-course-descr__text">
                Не відчуваєте впевненість перед камерою
              </p>
            </li>
            <li class="about-course-descr__item">
              <p class="about-course-descr__text">
                Ви соромитесь фотографуватися
              </p>
            </li>
            <li class="about-course-descr__item">
              <p class="about-course-descr__text">
                Потрібні гарні фотографії для продажів через інстаграм
              </p>
            </li>
          </ul>
        </div>
      </li>

      <li class="about-course-content__item">
        <div
          class="about-course-content__thumb about-course-content__thumb--with-icon"
        >
          <picture>
            <source
              srcset="
                ./images/about-course/img2.webp    1x,
                ./images/about-course/img2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/about-course/img2.jpg    1x,
                ./images/about-course/img2@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img
              class="about-course-content__img"
              src="./images/about-course/img2.jpg"
              alt="Фото з фотосесії"
            />
          </picture>
        </div>

        <div class="about-course-descr">
          <h3
            class="about-course-descr__title about-course-descr__title anchor"
            id="result"
          >
            Які результати?
          </h3>

          <ul class="about-course-descr__list">
            <li class="about-course-descr__item">
              <p class="about-course-descr__text">
                Навчитеся легко позувати не задумуючись про це
              </p>
            </li>
            <li class="about-course-descr__item">
              <p class="about-course-descr__text">
                Станете жіночнішою та полюбите своє тіло
              </p>
            </li>
            <li class="about-course-descr__item">
              <p class="about-course-descr__text">
                У вас в телефоні з’явиться багато класних, саме ваших фото
              </p>
            </li>
            <li class="about-course-descr__item">
              <p class="about-course-descr__text">
                Будете отримувати задоволення від процесу зйомок
              </p>
            </li>
            <li class="about-course-descr__item">
              <p class="about-course-descr__text">
                Навчитесь підкреслювати переваги свого тіла, ховаючи недоліки
              </p>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
