<section class="about-me-section about-me-section--mobile">
  <div class="container">
    <h2
      class="section-title about-me-section__section-title anchor"
      id="about-me"
    >
      <span class="about-me-section__text">
        Хто я?
        <svg class="about-me-section__icon">
          <use href="./images/icons.svg#heart"></use>
        </svg>
      </span>
    </h2>

    <div class="about-me-content about-me-content--mobile">
      <div class="about-me-content__thumb">
        <picture>
          <source
            srcset="
              ./images/about-me/tablet/img.webp    1x,
              ./images/about-me/tablet/img@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/about-me/tablet/img.jpg    1x,
              ./images/about-me/tablet/img@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/about-me/mobile/img.webp    1x,
              ./images/about-me/mobile/img@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/about-me/mobile/img.jpg    1x,
              ./images/about-me/mobile/img@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            class="about-me-content__img"
            src="./images/about-me/mobile/img.jpg"
            alt="Фото з фотосесії у Парижі"
          />
        </picture>
      </div>

      <div>
        <h3 class="about-me-content__title">
          <span class="about-me-content__line">Я експерт з фотопозування</span>
        </h3>

        <ul class="list-facts">
          <li class="list-facts__item">
            <p class="list-facts__text">
              Коли я почала свій шлях в моделінгу, мені було 38 років. В усьому
              світі зараз розвивається #agemodeling і досить успішно!
            </p>
          </li>
          <li class="list-facts__item">
            <p class="list-facts__text">
              Коли я почала детальніше вникати в суть справи мене обурило те, що
              віковим моделям в основному пропонують ПЛАТИТИ за те, щоб їх
              познімали. В найкращому варіанті пропонували співпрацю на TFP
              умовах.
            </p>
          </li>
          <li class="list-facts__item">
            <p class="list-facts__text">
              Також мене дуже обурював той факт що всюди багато агенцій які
              забезпечують навчання. Але ніхто не забезпечує потім просування
              моделей. А це, щоб ви розуміли найголовніший фактор в моделінгу.
            </p>
          </li>
          <li class="list-facts__item">
            <p class="list-facts__text">
              Я хотіла це змінити! Тому давайте з вами зараз познайомимось ще
              раз. Мене звати Марія, окрім того, що я agemodel і маю свій
              авторський курс з фотопозування, я модельний скаут. Наразі не
              тільки навчаю дівчат позувати так, щоб подобатись собі на фото,
              але й ще допомагаю майбутнім моделям в просуванні
            </p>
          </li>
        </ul>
      </div>
    </div>

    <ul class="about-me-content about-me-content--desktop">
      <li>
        <div class="about-me-content__thumb">
          <picture>
            <source
              srcset="
                ./images/about-me/desktop/img1.webp    1x,
                ./images/about-me/desktop/img1@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/about-me/desktop/img1.jpg    1x,
                ./images/about-me/desktop/img1@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img
              class="about-me-content__img"
              src="./images/about-me/desktop/img1.jpg"
              alt="Фото з фотосесії"
            />
          </picture>
          <div class="about-me-overlay overlay-first-img">
            <p class="overlay-first-img__text overlay-first-img__text--first">
              Привіт
            </p>
            <p class="overlay-first-img__text overlay-first-img__text--second">
              Мене звати Марія
            </p>
          </div>
        </div>
      </li>

      <li>
        <div class="about-me-content__thumb">
          <picture>
            <source
              srcset="
                ./images/about-me/desktop/img2.webp    1x,
                ./images/about-me/desktop/img2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/about-me/desktop/img2.jpg    1x,
                ./images/about-me/desktop/img2@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img
              class="about-me-content__img"
              src="./images/about-me/desktop/img2.jpg"
              alt="Фото з фотосесії"
            />
          </picture>

          <div class="about-me-overlay overlay-second-img">
            <h3 class="about-me-content__title">
              <span>Я експерт з фотопозування</span>
            </h3>
            <span class="about-me-content__label">
              <span class="about-me-content__line"
                >Авторський курс | модельний скаут</span
              >
            </span>
            <ul class="list-facts">
              <li class="list-facts__item">
                <p class="list-facts__text">
                  Коли я почала свій шлях в моделінгу, мені було
                  <span class="list-facts__accent">38 років</span>. В усьому
                  світі зараз розвивається
                  <span class="list-facts__accent">#agemodeling</span> і досить
                  успішно!
                </p>
              </li>
              <li class="list-facts__item">
                <p class="list-facts__text">
                  Коли я почала детальніше вникати в суть справи мене
                  <span class="list-facts__accent">обурило</span> те, що віковим
                  моделям в основному пропонують ПЛАТИТИ за те, щоб їх
                  познімали. В найкращому варіанті пропонували співпрацю на TFP
                  умовах.
                </p>
              </li>
              <li class="list-facts__item">
                <p class="list-facts__text">
                  Також мене дуже обурював той факт що всюди багато агенцій які
                  забезпечують навчання. Але
                  <span class="list-facts__accent"
                    >ніхто не забезпечує потім просування</span
                  >
                  моделей. А це, щоб ви розуміли
                  <span class="list-facts__accent">найголовніший фактор</span>
                  в моделінгу.
                </p>
              </li>
              <li class="list-facts__item">
                <p class="list-facts__text">
                  Я хотіла це
                  <span class="list-facts__accent">змінити!</span> Тому давайте
                  з вами зараз познайомимось ще раз. Мене звати
                  <span class="list-facts__accent">Марія</span>, окрім того, що
                  <span class="list-facts__accent">я agemodel</span> і маю свій
                  <span class="list-facts__accent">авторський курс</span>
                  з фотопозування, я модельний скаут. Наразі не тільки навчаю
                  дівчат позувати так, щоб подобатись собі на фото, але й ще
                  <span class="list-facts__accent"
                    >допомагаю майбутнім моделям в просуванні</span
                  >
                </p>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li>
        <div class="about-me-content__thumb">
          <picture>
            <source
              srcset="
                ./images/about-me/desktop/img3.webp    1x,
                ./images/about-me/desktop/img3@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/about-me/desktop/img3.jpg    1x,
                ./images/about-me/desktop/img3@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img
              class="about-me-content__img"
              src="./images/about-me/desktop/img3.jpg"
              alt="Фото з уроку"
            />
          </picture>

          <div class="about-me-overlay overlay-third-img">
            <p class="overlay-third-img__text">
              Я знаю як знаходити кастинги самостійно. Організовую зйомки від
              вибору образа до отримання знімків
            </p>
            <p class="overlay-third-img__text">
              Я не просто готую майбутніх моделей, а й допомагаю їм з
              <span class="overlay-third-img__icon-box">просуванням</span>
              зйомками та кастингами
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
