<section class="faq-section">
  <div class="container">
    <h2 class="section-title faq-section__section-title">
      <span class="faq-section__text">FAQ</span>
    </h2>

    <div class="faq-container">
      <div class="faq-container__thumb">
        <picture>
          <source
            srcset="
              ./images/faq/desktop/img.webp    1x,
              ./images/faq/desktop/img@2x.webp 2x
            "
            media="(min-width: 1024px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/faq/desktop/img.jpg    1x,
              ./images/faq/desktop/img@2x.jpg 2x
            "
            media="(min-width: 1024px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/faq/mobile/img.webp    1x,
              ./images/faq/mobile/img@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/faq/mobile/img.jpg    1x,
              ./images/faq/mobile/img@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            class="faq-container__img"
            src="./images/faq/mobile/img.jpg"
            alt="Фото з фотосесії"
          />
        </picture>
      </div>

      <ul class="faq-list js-faq-list"></ul>
    </div>
  </div>
</section>
