<section class="feature-section">
  <div class="container">
    <h2 class="section-title feature-section__section-title">
      <span>Що я пропоную?</span>
    </h2>

    <ul class="feature-list">
      <li class="feature-list__item">
        <h3 class="feature-list__title">Практика</h3>
        <p class="feature-list__descr">
          На офлайн майстеркласі ми проводимо зйомку, відеовізитки та
          відеопроходки. Реальна робоча зйомка-реклама допомагає стати
          впевненішою та досвідченішою!
        </p>
      </li>
      <li class="feature-list__item">
        <h3 class="feature-list__title">Задоволення</h3>
        <p class="feature-list__descr">
          Ви навчитесь самостійно обирати пози і будете робити це легко і з
          задоволенням! Почнете отримувати задоволення від зйомок і полюбите
          себе на 100%
        </p>
      </li>
      <li class="feature-list__item">
        <h3 class="feature-list__title">Можливість</h3>
        <p class="feature-list__descr">
          Найголовніший фактор в моделінгу - це просування моделі. Тому, на
          навчанні я розповідаю як шукати кастинги, складати та подавати на них
          заявки!
        </p>
      </li>
    </ul>

    <a
      class="button button--secondary button--hidden js-btn-active"
      href="#tariffs"
      >Записатись на курс</a
    >
  </div>
</section>
