<section class="feedback-section">
  <div class="container feedback-section__container">
    <h2
      class="section-title feedback-section__section-title anchor"
      id="feedback"
    >
      <span class="feedback-section__text"
        >Відгуки учениць
        <svg class="feedback-section__icon">
          <use href="./images/icons.svg#love"></use>
        </svg>
      </span>
    </h2>

    <div class="feedback-slider swiper">
      <div class="swiper-wrapper feedback-slider__swiper-wrapper js-feedbacks">
        <div
          class="swiper-slide feedback-slider__swiper-slide js-feedback-slide"
        >
          <div class="feedback-card">
            <p class="feedback-card__reviewer-name">Марія</p>
            <p class="feedback-card__review">
              Все дуже зрозуміло і по темі!) Дякую дуже! Взяла для себе багато
              нових правил для життя) і уроки по фотопозуванню взагалі бомбічні!
              Все чітко й зрозуміло і дійсно виходить результат!)
            </p>
          </div>
        </div>
        <div
          class="swiper-slide feedback-slider__swiper-slide js-feedback-slide"
        >
          <div class="feedback-card">
            <p class="feedback-card__reviewer-name">Тетяна</p>
            <p class="feedback-card__review">
              Часть про страхи это такой огонь пожар, что я даже про позирование
              забыла 😅 Хочу кричать об этом - Маша, спасибо тебе ❤️
            </p>
          </div>
        </div>
        <div
          class="swiper-slide feedback-slider__swiper-slide js-feedback-slide"
        >
          <div class="feedback-card">
            <p class="feedback-card__reviewer-name">Ірина</p>
            <p class="feedback-card__review">
              Очень благодарна Марии за такие знания, я давно обучалась
              моделингу и с приходом войны очень сильно пришла в упадок сил и
              безисходности, касаемо своих навыков и знаний в моделинге, не
              хватало сил и енергии снова всё вспомнить и "расправить крилья",
              уставшая от стреса войны, казалось что это уже не для меня и не ко
              времени. Но прийдя на курс поняла что только гармонизировав свою
              енергию женщины, возможно снова почувствовать себя и радость жить.
              Благодарю Марию за живой глоток воздуха и обновлённую себя ❤️❤️❤️
            </p>
          </div>
        </div>
        <div
          class="swiper-slide feedback-slider__swiper-slide js-feedback-slide"
        >
          <div class="feedback-card">
            <p class="feedback-card__reviewer-name">Еліна</p>
            <p class="feedback-card__review">
              Дякую за усю інформацію, то виявилося так багато 😱 Але все так
              структуровано, ніякої води, тільки потрібна інформація і по суті!
              Я набагато впевненіше себе почуваю, бо я точно знаю що робити😍 Це
              так класно 😍 Завжди здавалося, що моделінг - це так недосяжно, що
              це роки і роки навчань, купа грошей, а що ще більше лякало -
              завжди здавалося, що треба правильно 'вродитись'🤣🤣 От не вийшла
              ростом, чи там лінією росту волосся - то не судилося. I починати
              моделінг треба в 13, бо в 20 там вже виходять на пенсію🤣🤣 От
              думала, що там отак усе жорстоко. А виявилося - немає нічого
              неможливого 😍 потрібно лиш знати як і що зробити, потренуватися,
              підготуватися - і го 😍 | моделі насправді - такі ж люди, як і я🥰
              Це дуже круто🥰 Дякую, що допомогли мені стати ближчою до своєї
              мрії🥰
            </p>
          </div>
        </div>
        <div
          class="swiper-slide feedback-slider__swiper-slide js-feedback-slide"
        >
          <div class="feedback-card">
            <p class="feedback-card__reviewer-name">Марія</p>
            <p class="feedback-card__review">
              Все дуже зрозуміло і по темі!) Дякую дуже! Взяла для себе багато
              нових правил для життя) і уроки по фотопозуванню взагалі бомбічні!
              Все чітко й зрозуміло і дійсно виходить результат!)
            </p>
          </div>
        </div>
        <div
          class="swiper-slide feedback-slider__swiper-slide js-feedback-slide"
        >
          <div class="feedback-card">
            <p class="feedback-card__reviewer-name">Тетяна</p>
            <p class="feedback-card__review">
              Часть про страхи это такой огонь пожар, что я даже про позирование
              забыла 😅 Хочу кричать об этом - Маша, спасибо тебе ❤️
            </p>
          </div>
        </div>
        <div
          class="swiper-slide feedback-slider__swiper-slide js-feedback-slide"
        >
          <div class="feedback-card">
            <p class="feedback-card__reviewer-name">Ірина</p>
            <p class="feedback-card__review">
              Очень благодарна Марии за такие знания, я давно обучалась
              моделингу и с приходом войны очень сильно пришла в упадок сил и
              безисходности, касаемо своих навыков и знаний в моделинге, не
              хватало сил и енергии снова всё вспомнить и "расправить крилья",
              уставшая от стреса войны, казалось что это уже не для меня и не ко
              времени. Но прийдя на курс поняла что только гармонизировав свою
              енергию женщины, возможно снова почувствовать себя и радость жить.
              Благодарю Марию за живой глоток воздуха и обновлённую себя ❤️❤️❤️
            </p>
          </div>
        </div>
        <div
          class="swiper-slide feedback-slider__swiper-slide js-feedback-slide"
        >
          <div class="feedback-card">
            <p class="feedback-card__reviewer-name">Еліна</p>
            <p class="feedback-card__review">
              Дякую за усю інформацію, то виявилося так багато 😱 Але все так
              структуровано, ніякої води, тільки потрібна інформація і по суті!
              Я набагато впевненіше себе почуваю, бо я точно знаю що робити😍 Це
              так класно 😍 Завжди здавалося, що моделінг - це так недосяжно, що
              це роки і роки навчань, купа грошей, а що ще більше лякало -
              завжди здавалося, що треба правильно 'вродитись'🤣🤣 От не вийшла
              ростом, чи там лінією росту волосся - то не судилося. I починати
              моделінг треба в 13, бо в 20 там вже виходять на пенсію🤣🤣 От
              думала, що там отак усе жорстоко. А виявилося - немає нічого
              неможливого 😍 потрібно лиш знати як і що зробити, потренуватися,
              підготуватися - і го 😍 | моделі насправді - такі ж люди, як і я🥰
              Це дуже круто🥰 Дякую, що допомогли мені стати ближчою до своєї
              мрії🥰
            </p>
          </div>
        </div>
      </div>

      <div class="swiper-button-prev js-swiper-btn">
        <svg
          class="swiper-button-prev__icon swiper-button-prev__icon--small"
          width="69"
          height="24"
        >
          <use href="./images/icons.svg#arrow-prev-small"></use>
        </svg>
        <svg
          class="swiper-button-prev__icon swiper-button-prev__icon--big"
          width="86"
          height="28"
        >
          <use href="./images/icons.svg#arrow-prev-big"></use>
        </svg>
      </div>
      <div class="swiper-button-next js-swiper-btn">
        <svg
          class="swiper-button-next__icon swiper-button-next__icon--small"
          width="69"
          height="24"
        >
          <use href="./images/icons.svg#arrow-next-small"></use>
        </svg>
        <svg
          class="swiper-button-next__icon swiper-button-next__icon--big"
          width="86"
          height="28"
        >
          <use href="./images/icons.svg#arrow-next-big"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
