<header class="page-header js-header">
  <div class="container page-header__container">
    <a class="logo" href="#">Maridement</a>

    <button
      class="menu-btn js-open-menu"
      type="button"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg
        class="menu-btn__icon"
        aria-label="Кнопка виклику мобільного меню"
        width="24"
        height="12"
      >
        <use href="./images/icons.svg#burger"></use>
      </svg>
    </button>

    <div class="menu-container js-menu-container" id="mobile-menu">
      <button class="menu-btn menu-btn--close js-close-menu" type="button">
        <svg
          class="menu-btn__icon"
          aria-label="Кнопка закриття мобільного меню"
          width="20"
          height="20"
        >
          <use href="./images/icons.svg#close"></use>
        </svg>
      </button>

      <nav class="site-nav js-nav">
        <ul class="site-nav__list">
          <li>
            <a class="site-nav__link js-site-nav-link" href="#tariffs"
              >Послуги</a
            >
          </li>
          <li>
            <a class="site-nav__link js-site-nav-link" href="#feedback"
              >Відгуки</a
            >
          </li>
          <li>
            <a class="site-nav__link js-site-nav-link" href="#result"
              >Які результати</a
            >
          </li>
          <li>
            <a class="site-nav__link js-site-nav-link" href="#about-me"
              >Хто я</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
