<section class="hero-section">
  <div class="container hero-section__container">
    <div class="hero-section__box">
      <h1 class="hero-section__title">Марія Дементєєва</h1>

      <p class="hero-section__descr">
        Авторський курс з фотопозування<br />
        Модельний скаут | agemodel
      </p>
    </div>

    <span class="hero-section__label">Фотопозування для всіх</span>

    <h1 class="hero-section__title hero-section__title--desktop">Maridement</h1>

    <div class="info-container">
      <h2 class="info-container__title">
        Секрети та інформація для вас, якщо:
      </h2>

      <ul class="info-list">
        <li class="info-list__item">
          <p class="info-list__text">Ви мрієте заробляти на своїй красі?</p>
        </li>
        <li class="info-list__item">
          <p class="info-list__text">
            Сумніваєтесь, що можливо стати моделлю після 30?
          </p>
        </li>
        <li class="info-list__item">
          <p class="info-list__text">
            Хочете вміти робити гарні фотографії для себе?
          </p>
        </li>
        <li class="info-list__item">
          <p class="info-list__text">
            Не знаєте як стати, куди подіти руки чи ноги на фото?
          </p>
        </li>
        <li class="info-list__item">
          <p class="info-list__text">Ви боїтесь, що не гідні?</p>
        </li>
      </ul>

      <a class="button button--secondary js-btn-active" href="#about-course">
        Детальніше про курс
        <svg class="button__icon button__icon--small" width="69" height="24">
          <use href="./images/icons.svg#arrow-small"></use>
        </svg>
        <svg class="button__icon button__icon--big" width="86" height="28">
          <use href="./images/icons.svg#arrow-big"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
