<section class="tariffs-section">
  <div class="container">
    <h2
      class="section-title tariffs-section__section-title anchor"
      id="tariffs"
    >
      <span class="tariffs-section__text"
        >Тарифи
        <svg class="tariffs-section__icon">
          <use href="./images/icons.svg#outline-2"></use>
        </svg>
      </span>
    </h2>

    <ul class="tariffs-list">
      <li>
        <div class="tariffs-card">
          <span class="tariffs-card__number">1</span>

          <h3 class="tariffs-card__title">
            Онлайн курс з фотопозування для немоделей
          </h3>

          <ul class="tariffs-feature-list">
            <li class="tariffs-feature-list__item">
              <svg class="tariffs-feature-list__icon" width="12" height="12">
                <use href="./images/icons.svg#check"></use>
              </svg>
              <p class="tariffs-feature-list__text">Уроки в записі</p>
            </li>
            <li class="tariffs-feature-list__item">
              <svg class="tariffs-feature-list__icon" width="12" height="12">
                <use href="./images/icons.svg#check"></use>
              </svg>
              <p class="tariffs-feature-list__text">Як збільшити зріст</p>
            </li>
            <li class="tariffs-feature-list__item">
              <svg class="tariffs-feature-list__icon" width="12" height="12">
                <use href="./images/icons.svg#check"></use>
              </svg>
              <p class="tariffs-feature-list__text">Сховати 2ге підборіддя</p>
            </li>
            <li class="tariffs-feature-list__item">
              <svg class="tariffs-feature-list__icon" width="12" height="12">
                <use href="./images/icons.svg#check"></use>
              </svg>
              <p class="tariffs-feature-list__text">Зменшити талію</p>
            </li>
            <li class="tariffs-feature-list__item">
              <svg class="tariffs-feature-list__icon" width="12" height="12">
                <use href="./images/icons.svg#check"></use>
              </svg>
              <p class="tariffs-feature-list__text">Уникати непропорційності</p>
            </li>
          </ul>

          <button class="button button--primary js-btn-active" type="button">
            Записатися
          </button>
        </div>
      </li>

      <li>
        <div class="tariffs-card">
          <span class="tariffs-card__number">2</span>

          <h3 class="tariffs-card__title">
            Офлайн МК для дівчат, що хочуть бути моделями
          </h3>

          <ul class="tariffs-feature-list">
            <li class="tariffs-feature-list__item">
              <svg class="tariffs-feature-list__icon" width="12" height="12">
                <use href="./images/icons.svg#check"></use>
              </svg>
              <p class="tariffs-feature-list__text">5 год. офлайн навчання</p>
            </li>
            <li class="tariffs-feature-list__item">
              <svg class="tariffs-feature-list__icon" width="12" height="12">
                <use href="./images/icons.svg#check"></use>
              </svg>
              <p class="tariffs-feature-list__text">
                База, необхідна для початку роботи в моделінгу
              </p>
            </li>
            <li class="tariffs-feature-list__item">
              <svg class="tariffs-feature-list__icon" width="12" height="12">
                <use href="./images/icons.svg#check"></use>
              </svg>
              <p class="tariffs-feature-list__text">
                Фотопозування, дефіле, зйомка відеовізитки, відеопроходки
              </p>
            </li>
            <li class="tariffs-feature-list__item">
              <svg class="tariffs-feature-list__icon" width="12" height="12">
                <use href="./images/icons.svg#check"></use>
              </svg>
              <p class="tariffs-feature-list__text">
                Реальна робоча зйомка-реклама наших українських брендів
              </p>
            </li>
          </ul>

          <button class="button button--primary js-btn-active" type="button">
            Записатися
          </button>
        </div>
      </li>

      <li>
        <div class="tariffs-card">
          <span class="tariffs-card__number">3</span>

          <h3 class="tariffs-card__title">Онлайн курс для майбутніх моделей</h3>

          <ul class="tariffs-feature-list">
            <li class="tariffs-feature-list__item">
              <svg class="tariffs-feature-list__icon" width="12" height="12">
                <use href="./images/icons.svg#check"></use>
              </svg>
              <p class="tariffs-feature-list__text">Уроки в записі</p>
            </li>
            <li class="tariffs-feature-list__item">
              <svg class="tariffs-feature-list__icon" width="12" height="12">
                <use href="./images/icons.svg#check"></use>
              </svg>
              <p class="tariffs-feature-list__text">
                Моя особиста консультація
              </p>
            </li>
            <li class="tariffs-feature-list__item">
              <svg class="tariffs-feature-list__icon" width="12" height="12">
                <use href="./images/icons.svg#check"></use>
              </svg>
              <p class="tariffs-feature-list__text">Фотопозування</p>
            </li>
            <li class="tariffs-feature-list__item">
              <svg class="tariffs-feature-list__icon" width="12" height="12">
                <use href="./images/icons.svg#check"></use>
              </svg>
              <p class="tariffs-feature-list__text">Модельний бук</p>
            </li>
            <li class="tariffs-feature-list__item">
              <svg class="tariffs-feature-list__icon" width="12" height="12">
                <use href="./images/icons.svg#check"></use>
              </svg>
              <p class="tariffs-feature-list__text">
                Як скласти заявку на кастинги
              </p>
            </li>
          </ul>

          <button class="button button--primary js-btn-active" type="button">
            Записатися
          </button>
        </div>
      </li>

      <li>
        <div class="tariffs-card">
          <span class="tariffs-card__number">4</span>

          <h3 class="tariffs-card__title">Персональна онлайн- консультація</h3>

          <ul class="tariffs-feature-list">
            <li class="tariffs-feature-list__item">
              <svg class="tariffs-feature-list__icon" width="12" height="12">
                <use href="./images/icons.svg#check"></use>
              </svg>
              <p class="tariffs-feature-list__text">
                Працюємо по запиту клієнта
              </p>
            </li>
            <li class="tariffs-feature-list__item">
              <svg class="tariffs-feature-list__icon" width="12" height="12">
                <use href="./images/icons.svg#check"></use>
              </svg>
              <p class="tariffs-feature-list__text">
                Основний напрямок: Коригування помилок в позуванні, допомога в
                підготовці до зйомок модельного бука (вибір кольорів, студії,
                фотографа), допомога із снепами, відеовізитками. Як шукати
                кастинги, складати та подавати заявки
              </p>
            </li>
          </ul>

          <button class="button button--primary js-btn-active" type="button">
            Записатися
          </button>
        </div>
      </li>
    </ul>

    <div class="tariffs-info-container">
      <div class="tariffs-info-container__big-box">
        <svg class="tariffs-info-container__big-icon">
          <use href="./images/icons.svg#quotation-mark-1"></use>
        </svg>

        <svg class="tariffs-info-container__big-icon">
          <use href="./images/icons.svg#quotation-mark-1"></use>
        </svg>
      </div>

      <div class="tariffs-info-container__small-box">
        <svg class="tariffs-info-container__small-icon">
          <use href="./images/icons.svg#quotation-mark-2"></use>
        </svg>

        <svg class="tariffs-info-container__small-icon">
          <use href="./images/icons.svg#quotation-mark-2"></use>
        </svg>
      </div>
      <p class="tariffs-info-container__descr">
        Під час та після завершення навчання я готова допомогти кожній учениці з
        просуванням, зйомками та кастингами, для її професійного розвитку
      </p>

      <div class="tariffs-info-container__thumb"></div>
    </div>
  </div>
</section>
