.about-course-section {
  padding-top: 32px;
  padding-bottom: 45px;

  @media screen and (min-width: $laptop) {
    padding-top: 96px;
    padding-bottom: 90px;
  }

  &__section-title {
    position: relative;

    margin-bottom: 40px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 55px;
    }
  }

  &__text {
    position: relative;
  }

  &__icon {
    position: absolute;
    z-index: -1;
    top: -3px;
    left: 4px;

    fill: var(--secondary-color);

    @media screen and (min-width: $laptop) {
      top: -5px;
      left: 12px;
    }
  }
}

.about-course-content {
  display: flex;
  flex-direction: column;
  gap: 56px;

  @media screen and (min-width: $laptop) {
    gap: 50px;
  }

  &__item {
    @media screen and (min-width: $laptop) {
      display: flex;
      align-items: center;
      gap: 22px;

      &:nth-child(2n) {
        flex-direction: row-reverse;
        gap: 45px;
      }
    }
  }

  &__thumb {
    display: none;

    @media screen and (min-width: $laptop) {
      position: relative;

      display: block;
      flex-shrink: 0;
      width: 505px;
      height: auto;

      border-radius: 5px;
      overflow: hidden;
    }
  }

  &__icon {
    position: absolute;
    top: -45px;
    left: -30px;
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;

    object-fit: cover;
  }
}

.about-course-descr {
  &__title {
    margin-bottom: 12px;

    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;

    @media screen and (min-width: $tablet) {
      margin-bottom: 20px;

      font-size: 28px;
      line-height: 1.19;
    }

    @media screen and (min-width: $laptop) {
      font-size: 32px;
    }
  }

  &__list {
    padding-left: 16px;
  }

  &__item:not(:last-child) {
    margin-bottom: 16px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 11px;
    }
  }

  &__text {
    position: relative;

    font-weight: 600;
    font-size: 14px;
    line-height: 1;

    @media screen and (min-width: $tablet) {
      font-weight: 400;
      font-size: 20px;
      line-height: 1.2;
    }

    @media screen and (min-width: $laptop) {
      font-size: 22px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 30px;
    }

    &::before {
      position: absolute;
      top: 8px;
      left: -16px;

      content: '';

      display: inline-block;
      width: 6px;
      height: 6px;

      background-color: var(--secondary-color);
      border-radius: 50%;

      @media screen and (min-width: $desktop) {
        top: 13px;
      }
    }
  }
}
