.about-course-section {
  padding-top: 32px;
  padding-bottom: 45px;

  &__section-title {
    margin-bottom: 40px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 55px;
    }

    & > span {
      position: relative;
    }
  }

  &__icon {
    position: absolute;
    z-index: -1;
    top: -3px;
    left: 4px;

    fill: var(--secondary-color);
  }
}

.about-course-descr {
  display: flex;
  flex-direction: column;
  gap: 56px;

  &__title {
    margin-bottom: 12px;

    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;

    @media screen and (min-width: $tablet) {
      margin-bottom: 20px;

      font-size: 28px;
      line-height: 1.19;
    }
  }

  &__list {
    padding-left: 16px;
  }

  &__item:not(:last-child) {
    margin-bottom: 16px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 11px;
    }
  }

  &__text {
    position: relative;

    font-weight: 600;
    font-size: 14px;
    line-height: 1;

    @media screen and (min-width: $tablet) {
      font-weight: 400;
      font-size: 20px;
      line-height: 1.2;
    }

    &::before {
      position: absolute;
      top: 8px;
      left: -16px;

      content: "";

      display: inline-block;
      width: 6px;
      height: 6px;

      background-color: var(--secondary-color);
      border-radius: 50%;
    }
  }
}
