.faq-section {
  padding-top: 50px;
  padding-bottom: 40px;

  @media screen and (min-width: $tablet) {
    padding-top: 90px;
  }
}

.faq-section__section-title {
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 50px;
  }
}

.faq-section__text {
  position: relative;

  &::after {
    content: '';

    position: absolute;
    top: -15px;
    right: -25px;

    width: 30px;
    height: 47px;

    background-image: url('../images/question-mark.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-width: $tablet) {
      top: -24px;
      right: -46px;

      width: 46px;
      height: 71px;
    }

    @media screen and (min-width: $laptop) {
      right: -57px;

      width: 56px;
      height: 87px;
    }
  }
}

.faq-container {
  @media screen and (min-width: $tablet) {
    display: flex;
    gap: 42px;
  }
}

.faq-container__thumb {
  flex-shrink: 0;
  margin-bottom: 28px;
  max-width: 335px;
  max-height: 292px;

  border-radius: 5px;
  overflow: hidden;

  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
    max-width: 450px;
    max-height: 391px;
  }

  @media screen and (min-width: $laptop) {
    max-width: 505px;
    max-height: 440px;
  }
}

.faq-container__img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
}

.faq-list__item {
  position: relative;
  padding-right: 60px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: $tablet) {
    padding-right: 80px;

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}

.faq-list__answer {
  padding-top: 0;
  padding-bottom: 0;
  max-height: 0;

  font-size: 12px;

  overflow: hidden;
  user-select: none;
  transition: all var(--duration-faq) var(--timing-function);

  @media screen and (min-width: $tablet) {
    font-size: 20px;
  }

  @media screen and (min-width: $laptop) {
    font-size: 24px;
  }
}

.faq-list__question {
  padding-top: 8px;
  padding-bottom: 8px;

  font-size: 15px;

  @media screen and (min-width: $tablet) {
    font-size: 24px;
  }

  @media screen and (min-width: $laptop) {
    font-size: 30px;
  }
}

.faq-list__answer,
.faq-list__question {
  font-weight: 400;

  line-height: 1.2;
  color: var(--primary-text-color);

  @media screen and (min-width: $tablet) {
    line-height: 1.23;
  }
}

.faq-list__button {
  position: absolute;
  top: 4px;
  right: 2px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 40px;
  height: 24px;

  background-color: var(--primary-text-color);
  border: none;
  cursor: pointer;

  -webkit-mask-image: url('../images/faq/small-arrow.svg');
  mask-image: url('../images/faq/small-arrow.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 39.5px 12px;

  transform: rotate(0);
  transition: transform var(--duration-faq) var(--timing-function);

  &--active {
    background-color: var(--secondary-color);
  }

  @media screen and (min-width: $tablet) {
    top: 12px;

    width: 50px;
    height: 28px;

    mask-size: 50px 28px;
    -webkit-mask-image: url('../images/faq/big-arrow.svg');
    mask-image: url('../images/faq/big-arrow.svg');
  }
}

.faq-list__item--show-answer {
  & .faq-list__answer {
    max-height: 120px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  & .faq-list__button {
    transform: rotate(90deg);
  }
}
