.faq-section {
  padding-top: 50px;
  padding-bottom: 40px;

  @media screen and (min-width: $tablet) {
    padding-top: 90px;
  }

  &__section-title {
    margin-bottom: 20px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 50px;
    }
  }

  &__text {
    position: relative;
  }

  &__icon {
    position: absolute;
    top: -15px;
    right: -25px;

    @media screen and (min-width: $tablet) {
      top: -24px;
      right: -46px;

      width: 46px;
      height: 71px;
    }

    @media screen and (min-width: $laptop) {
      right: -57px;

      width: 56px;
      height: 87px;
    }
  }
}

.faq-container {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    gap: 42px;
  }

  &__thumb {
    flex-shrink: 0;
    margin-bottom: 28px;
    max-width: 335px;
    max-height: 292px;

    border-radius: 5px;
    overflow: hidden;

    @media screen and (min-width: $tablet) {
      margin-bottom: 0;
      max-width: 450px;
      max-height: 391px;
    }

    @media screen and (min-width: $laptop) {
      max-width: 505px;
      max-height: 440px;
    }
  }

  &__img {
    width: 100%;
    height: auto;

    object-fit: cover;
  }
}

.faq-list {
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    @media screen and (min-width: $tablet) {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  &__box {
    position: relative;

    padding: 10px 0;

    overflow: hidden;

    @media screen and (min-width: $tablet) {
      flex-grow: 1;
      padding: 17px 0;
    }
  }

  &__answer {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    transform: translateY(-60px);

    @media screen and (min-width: $tablet) {
      transform: translateY(-100px);
    }
  }

  &__question {
    transform: translateY(0);
  }

  &__answer,
  &__question {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.2;
    color: var(--primary-text-color);

    transition: transform var(--duration-faq) var(--timing-function);

    @media screen and (min-width: $tablet) {
      font-size: 24px;
      line-height: 1.23;
    }

    @media screen and (min-width: $laptop) {
      font-size: 30px;
      line-height: 1.23;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    color: var(--primary-text-color);

    background-color: transparent;
    border: none;
    cursor: pointer;

    &--active {
      color: var(--secondary-color);
    }
  }

  &__icon {
    margin-left: 14px;

    fill: currentColor;

    transform: rotate(0);
    transition: transform var(--duration-faq) var(--timing-function);

    &--big {
      display: none;
    }

    @media screen and (min-width: $tablet) {
      &--small {
        display: none;
      }

      &--big {
        display: block;
      }
    }
  }
}

.faq-list__item--show-answer {
  & .faq-list__answer {
    transform: translateY(0);
  }

  & .faq-list__question {
    transform: translateY(60px);

    @media screen and (min-width: $tablet) {
      transform: translateY(100px);
    }
  }

  & .faq-list__icon {
    transform: rotate(90deg);
  }
}
