.feedback-section {
  padding-top: 95px;
  padding-bottom: 95px;

  &__text {
    position: relative;
  }

  &__icon {
    display: none;

    position: absolute;
    top: -38px;
    right: -32px;

    fill: var(--secondary-color);

    @media screen and (min-width: $tablet) {
      display: block;
    }
  }
}
