.feedback-section {
  padding-top: 95px;
  padding-bottom: 95px;

  &__text {
    position: relative;
  }

  &__icon {
    display: none;

    @media screen and (min-width: $tablet) {
      position: absolute;
      top: -38px;
      right: -32px;

      display: block;

      fill: var(--secondary-color);
    }

    @media screen and (min-width: $laptop) {
      top: -43px;
      right: -34px;
    }
  }
}
